@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #FF8B8B;
}

.button {
    width: 57px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FBB454;
}

.button:hover {
    /* border: transparent; */
    background-color: aliceblue;
}

.row {
    margin: 8px 0;
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 20px 3px;
    border: 2px solid black;
    border-radius: 8px;
}